    <div class="list_container">
        <div class="table_container">
                <table class="table table-hover">
                    <thead>
                        <tr class="titulos-tabla">
                            <td>ID</td>
                            <td>Producto</td>
                            <td>Precio</td>
                            <td>Imagen</td>
                        </tr>            
                    </thead>
                    <tbody id="prods">
                        
                    </tbody>
                </table>
        </div>
    </div>