<h2>
    Centro de Mensajes
</h2>

<div>
    <form id="formCargaMje">
        <div class="row mb-3">
          <label for="mail" class="col-sm-2 col-form-label">E-Mail:</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="mail" name="mail" placeholder="nombre@ejemplo.com">
          </div>
        </div>
        <div class="row mb-3">
          <label for="name" class="col-sm-2 col-form-label">Mensaje:</label>
          <div class="col-sm-10">
            <textarea class="form-control" id="mensaje" name="mensaje" rows="3" placeholder="Escribí tu Mensaje"></textarea>
          </div>
        </div>
        <button type="submit" class="boton btn btn-secondary btn-sm">Enviar</button>
      </form>
</div>